.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color var(--transition300ms),
    color var(--transition300ms),
    border-color var(--transition300ms);

  &--link {
    @media #{$mouse-device} {
      &[href] {
        &:hover {
          color: var(--palette-blue-marguerite);
        }
      }

      &:not([href]) {
        opacity: 0.5;
        cursor: default;
      }
    }
  }

  &--purple {
    @include font14-button-uppercase;

    padding: rem(20);
    color: var(--palette-white);
    background-color: var(--palette-blue-marguerite);

    &:focus-visible {
      outline: rem(2) solid var(--palette-cod-gray);
    }

    @media #{$mouse-device} {
      &:hover {
        background-color: var(--palette-indigo);
      }
    }
  }

  &--white {
    @include font14-button-uppercase;

    padding: rem(20);
    background-color: var(--palette-white);
    color: var(--palette-cod-gray);

    @media #{$mouse-device} {
      &:hover {
        background-color: var(--palette-indigo);
        color: var(--palette-white);
      }
    }
  }

  &--outline {
    @include font14-button-lowercase;

    padding: rem(10) rem(16);
    border-radius: var(--bdrs12);
    border-width: rem(1);
    border-style: solid;

    &-white {
      border-color: var(--palette-white);
    }

    &-gray {
      color: var(--palette-ship-gray);
      border-color: var(--palette-regent-gray);
    }

    &-purple {
      border-color: var(--palette-blue-marguerite);
    }

    @media #{$mouse-device} {
      &:hover {
        background-color: var(--palette-blue-marguerite);
        border-color: transparent;
        color: var(--palette-white);
      }
    }
  }
}
