.breadcrumbs {
  --col-gap: #{rem(29)};

  @include font16;

  margin-bottom: rem(24);

  &__list {
    @include flex-center-y;

    flex-wrap: wrap;
    gap: rem(10) var(--col-gap);
  }

  &__link {
    &:not([aria-current]) {
      position: relative;
      text-decoration: underline;
      text-underline-offset: rem(3);

      &::after {
        position: absolute;
        right: calc(var(--col-gap) / 2 * -1);
        color: var(--palette-french-gray);
        content: '/';
      }
    }

    &[aria-current] {
      width: rem(300);
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
      color: var(--palette-french-gray);
    }
  }
}
