.similar-products {
  padding: rem(30) 0 rem(50);

  &--secondary {
    padding: rem(50) 0 rem(100);
  }

  &__header {
    @include flex-center-between;

    margin-bottom: rem(21);
  }

  &__title {
    @include font56;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(325)}, 1fr));
    gap: var(--gap20);
  }
}