.similar-products {
  padding: rem(30) 0 rem(50);

  &--secondary {
    padding: rem(50) 0 rem(100);

    @include media('767', max) {
      padding: rem(50) 0;
    }
  }

  &__title {
    @include font56;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(325)}, 1fr));
    gap: var(--gap20);

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
    }
  }
}
