.services {
  padding: rem(50) 0 rem(100);

  @include media('767', max) {
    padding: rem(50) 0;
  }

  &__container {
    @include flex-column;

    row-gap: rem(48);

    @include media('767', max) {
      row-gap: rem(24);
    }
  }

  &__title {
    @include font56;

    max-width: rem(1235);
    color: var(--palette-abbey);
  }

  &__text {
    @include font16;

    max-width: rem(552);
    color: var(--palette-abbey);
  }

  &__list {
    @include flex-column;

    counter-reset: num-list;
    row-gap: var(--gap20);
  }

  &__card {
    @include flex-center-y;

    padding: rem(30);
    gap: rem(20) rem(10);
    background-color: var(--palette-white);
    border-radius: var(--bdrs20);
    transition: box-shadow var(--transition300ms);

    @media #{$mouse-device} {
      &:hover {
        box-shadow: 0 0 rem(8) var(--palette-french-gray-a50);
      }
    }

    @include media('767', max) {
      padding: rem(20);
    }

    @include media('600', max) {
      padding: rem(10);
      flex-direction: column;
      align-items: flex-start;
    }

    &-title {
      @include flex-center-y;
      @include font36;

      column-gap: rem(48);

      @include media('767', max) {
        column-gap: rem(12);
      }

      &::before {
        @include font36;
        @include flex-center;

        min-width: rem(69);
        min-height: rem(54);
        flex-shrink: 0;
        border: rem(1) solid currentcolor;
        border-radius: var(--bdrs30);
        counter-increment: num-list;
        content: counter(num-list, decimal-leading-zero);

        @include media('767', max) {
          @include font24;

          min-width: rem(55);
          min-height: rem(40);
        }
      }
    }

    &-button {
      text-align: center;
      margin-left: auto;

      @include media('600', max) {
        margin-left: 0;
      }
    }
  }
}
