.activity-card {
  $this: &;

  position: relative;
  height: 100%;
  padding: rem(30) rem(20);
  border: rem(1) solid var(--palette-manatee);
  border-radius: var(--bdrs20);
  text-align: center;
  transition: all var(--transition300ms);

  @media (hover: hover) {
    &:hover {
      background-color: var(--palette-white);
      box-shadow: 0 rem(20) rem(40) rem(-10) rgba(69, 66, 110, 0.25);
      border-color: transparent;

      #{$this}__link {
        text-decoration: underline;
        text-underline-offset: rem(3);
        color: var(--palette-shuttle-gray);
      }
    }
  }

  &__title {
    @include font16;

    color: var(--palette-ship-gray);
  }

  &__link {
    &::before {
      position: absolute;
      inset: 0;
      content: '';
    }
  }

  &__img {
    margin: 0 auto rem(30);
  }
}
