@include font-face('Roboto Flex', 300, '../assets/', 'Roboto-Flex-300', 'U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116');
@include font-face('Roboto Flex', 400, '../assets/', 'Roboto-Flex-400', 'U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116');
@include font-face('Roboto Flex', 500, '../assets/', 'Roboto-Flex-500', 'U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116');
@include font-face('Roboto Flex', 700, '../assets/', 'Roboto-Flex-700', 'U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116');
@include font-face('Roboto Flex', 300, '../assets/', 'Roboto-Flex-300-L', 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD');
@include font-face('Roboto Flex', 400, '../assets/', 'Roboto-Flex-400-L', 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD');
@include font-face('Roboto Flex', 500, '../assets/', 'Roboto-Flex-500-L', 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD');
@include font-face('Roboto Flex', 700, '../assets/', 'Roboto-Flex-700-L', 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentcolor;
}

button {
  color: currentcolor;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input[type='search'] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

address {
  font-style: normal;
}

small {
  font-size: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:focus-visible {
  outline: rem(2) solid var(--palette-blue-marguerite);
}

::selection {
  background-color: var(--palette-blue-marguerite);
  color: var(--palette-white);
}

.lock {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

[hidden] {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

html {
  height: 100%;
  scrollbar-color: var(--palette-blue-marguerite) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  font-family: var(--font-primary);

  &::-webkit-scrollbar {
    width: rem(12);
    height: rem(12);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--palette-blue-marguerite);
    border-radius: rem(10);
  }
}

body {
  @include flex-column;

  height: 100%;
  color: var(--palette-cod-gray);
  background-color: var(--palette-athens-gray);
}

.header {
  flex-shrink: 0;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}

.container {
  @include container;
}

.text-block-decorative {
  background-image: url('../assets/images/decorative-element/text-block.svg');
  background-repeat: no-repeat;
  background-position: left top;

  @include media('600', max) {
    background-image: none;
  }
}

.text-block-decorative-complex {
  background-image: url('../assets/images/decorative-element/complex-text-block.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include media('600', max) {
    background-image: none;
  }
}

.error-message {
  margin: rem(4) 0;
  font-size: rem(12);
  letter-spacing: rem(-0.24);
  color: var(--palette-valencia);
  text-align: left;
}

[v-cloak] {
  display: none;
}

.section-header {
  @include flex-center-between;

  gap: var(--gap20);
  flex-wrap: wrap;
  margin-bottom: rem(40);

  @include media('600', max) {
    margin-bottom: rem(20);
  }
}
