.portfolio-slider-block {
  $this: &;

  padding: rem(100) 0;
  background-image: url('../assets/images/decorative-element/portfolio-slider.svg');
  background-repeat: no-repeat;
  background-position: center top rem(-150);

  &--no-decorative-element {
    background-image: none;
  }

  &__header {
    @include flex-center-between;

    margin-bottom: var(--mb40);
  }

  &__title {
    @include font56;

    max-width: rem(730);
  }

  &__slider {
    @include center-fullhd;

    padding-left: var(--container-padding);
    counter-reset: num;
  }

  &__card {
    position: relative;

    &-img {
      margin-bottom: rem(20);
    }

    &-text {
      @include font14;

      display: flex;
      column-gap: rem(23);
      max-width: rem(271);
      color: var(--palette-ship-gray);

      &::before {
        color: var(--palette-spun-pearl);
        counter-increment: num;
        content: '(' counters(num, '.', decimal-leading-zero) ')';
      }
    }
  }

  &__actions {
    @include flex-center-y;

    column-gap: rem(38);
  }

  &__buttons {
    @include flex-center-y;

    column-gap: rem(30);
  }

  &__icon {
    width: rem(18);
    height: rem(16);
  }
}
