.implementation-objects {
  position: relative;
  padding: rem(60) 0 rem(65);
  background-image: url('../assets/images/decorative-element/implementation-objects-numeric-list.svg');
  background-position: right top rem(-400);
  background-repeat: no-repeat;

  @include media('600', max) {
    background-image: none;
    padding: rem(50) 0;
  }

  &__title {
    @include font36;

    max-width: rem(1084);
    margin-bottom: rem(60);

    @include media('600', max) {
      margin-bottom: rem(30);
    }
  }

  &__list {
    display: grid;
    row-gap: rem(15);
    counter-reset: list;
  }
}
