.footer {
  padding: rem(82) 0 rem(38);
  background-image: url('../assets/images/decorative-element/footer.svg');
  background-repeat: no-repeat;
  background-position: 60% center;
  background-size: contain;
  color: var(--palette-ship-gray);

  @include media('900', max) {
    padding: rem(40) 0;
  }

  @include media('600', max) {
    padding: rem(20) 0;
    background-image: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: rem(20);

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(30);
        }
      }
    }
  }

  &__list {
    @include flex-column;
    @include font14;

    row-gap: rem(20);
  }

  &__address {
    @include flex-column;
    @include font14;

    grid-column: span 3;
    margin-left: rem(75);

    @include media('767', max) {
      grid-column: span 2;
      margin-left: 0;
    }
  }

  &__phone {
    @include font20;

    margin-bottom: rem(16);
  }

  &__email {
    margin-bottom: rem(20);
  }

  &__text {
    margin-top: auto;
  }

  &__info {
    @include flex-column;
    @include font14;

    row-gap: rem(20);

    @include media('767', max) {
      grid-column: span 2;
    }

    &-text {
      margin-top: auto;
    }
  }

  &__insta,
  &__email {
    @include flex-center-y;

    column-gap: rem(6);
    font-weight: 500;
  }

  &__wrap {
    margin: rem(15) 0 rem(30);
  }
}
