.not-found {
  display: flex;
  min-height: 100vh;
  text-align: center;
  background-image: url('../assets/images/decorative-element/not-found.png');
  background-repeat: no-repeat;
  background-position: center bottom;

  &__container {
    @include flex-center-column;
  }

  &__num {
    @include font-size(160, 128);

    display: block;
    margin-bottom: rem(56);
    font-weight: 500;
    color: var(--palette-blue-marguerite);

    @include media('767', max) {
      margin-bottom: rem(30);
    }
  }

  &__group {
    color: var(--palette-abbey);
  }

  &__title {
    @include font24;

    margin-bottom: rem(24);
  }

  &__text {
    @include font14;

    max-width: rem(416);
    margin-bottom: rem(32);
    font-weight: 400;
  }

  &__button {
    @include flex-center;

    padding: rem(5) rem(10);
  }

  &__icon {
    width: rem(25);
    height: rem(25);
    fill: transparent;
    stroke: currentcolor;
  }
}
