.thumbs-gallery {
  $this: &;

  position: relative;

  @include center-fullhd;

  &__slider {
    &--big {
      height: calc(min(100vh, 1080px));

      #{$this}__slide {
        &::before {
          position: absolute;
          inset: 0;
          background: linear-gradient(309deg, rgba(40, 49, 57, 0.5) 15.5%, rgba(41, 50, 58, 0) 60.98%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
          content: '';
        }
      }

      img {
        @include img(cover);
      }
    }

    &--small {
      position: absolute;
      right: rem(40);
      bottom: rem(40);
      width: calc(152px * 4);

      @include media('767', max) {
        width: calc(152px * 3);
      }

      @include media('600', max) {
        width: calc(120px * 2);
        right: rem(10);
        bottom: rem(10);
      }

      img {
        border-radius: var(--bdrs10);
      }
    }
  }

  &__slide {
    display: grid;
  }

  &__img-wrap {
    grid-area: 1 / 1;
  }

  &__content {
    grid-area: 1 / 1;
    padding-top: rem(171);
    opacity: 0.999;
  }

  &__text {
    @include font56;

    max-width: rem(693);
    color: var(--palette-white);
  }

  &__breadcrumbs {
    position: absolute;
    top: rem(136);
    left: 0;
    z-index: 10;
  }
}
