.wide-range-product-and-workers {
  padding-bottom: rem(30);
  background-image: url('../assets/images/decorative-element/wide-range-product-and-workers.svg');
  background-repeat: no-repeat;
  background-position: left top #{rem(-300)};

  @include media('600', max) {
    background-image: none;
  }
}
