.category {
  padding: rem(68) 0 rem(140);
  background-color: var(--palette-mystic);
  background-image: url('../assets/images/decorative-element/product-catalog.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  @include media('767', max) {
    padding: rem(50) 0;
  }

  @include media('600', max) {
    background-image: none;
  }

  &__title {
    @include font48;

    max-width: rem(760);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(400)}, 1fr));
    gap: rem(16);

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(16);
        }
      }
    }
  }
}
