:root {
  // palette
  --palette-blue-marguerite: #7084c8;
  --palette-cod-gray: #000;
  --palette-white: #fff;
  --palette-rgb-white: 255, 255, 255;
  --palette-indigo: #546bbd;
  --palette-silver-chalice: #a4a4a4;
  --palette-manatee: #8788a4;
  --palette-mercury: #e2e2e2;
  --palette-silver: #bebebe;
  --palette-athens-gray: #f7f8fa;
  --palette-shuttle-gray: #526168;
  --palette-regent-gray: #838f9d;
  --palette-ship-gray: #424146;
  --palette-spun-pearl: #b1afbb;
  --palette-link-water: #e1e3f5;
  --palette-abbey: #4a494e;
  --palette-mystic: #e9ecf3;
  --palette-french-gray: #b7b5c3;

  // containers
  --container-width: #{rem(1440)};
  --container-padding: #{rem(40)};

  // transitions
  --transition300ms: 0.3s;

  // fonts
  --font-primary: 'Roboto Flex', sans-serif;

  // bdrs
  --bdrs20: #{rem(20)};
  --bdrs12: #{rem(12)};
  --bdrs10: #{rem(10)};
  --bdrs30: #{rem(30)};

  // margins
  --mb40: #{rem(40)};

  // transform-animation
  --trY: #{rem(-2)};
}

@mixin font56 {
  @include font-size(56, 44.8);

  font-weight: 500;
  letter-spacing: rem(-1.12);
}

@mixin font48 {
  @include font-size(48, 52.8);

  font-weight: 500;
  letter-spacing: rem(-0.96);
}

@mixin font40 {
  @include font-size(40, 44);

  font-weight: 500;
  letter-spacing: rem(-0.8);
}

@mixin font36 {
  @include font-size(36, 39.6);

  font-weight: 500;
  letter-spacing: rem(-0.72);
}

@mixin font24 {
  @include font-size(24, 24);

  font-weight: 500;
  letter-spacing: rem(-0.48);
}

@mixin font24-light {
  @include font-size(24, 26.4);

  font-weight: 300;
  letter-spacing: rem(-0.48);
}

@mixin font16 {
  @include font-size(16, 19.2);

  font-weight: 300;
  letter-spacing: rem(-0.32);
}

@mixin font14 {
  @include font-size(14, 16.8);

  font-weight: 300;
  letter-spacing: rem(-0.28);
}

@mixin font14-button-uppercase {
  @include font-size(14, 15.4);

  font-weight: 300;
  letter-spacing: rem(-0.28);
  text-transform: uppercase;
}

@mixin font14-button-lowercase {
  @include font-size(14, 15.4);

  font-weight: 300;
  letter-spacing: rem(-0.28);
}

@mixin center-fullhd {
  max-width: rem(1920);
  margin: 0 auto;
}
