.callback-banner {
  position: relative;
  padding: rem(105) 0;
  margin-bottom: rem(100);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(86deg, rgba(0, 0, 0, 0.9) 17.9%, rgba(0, 0, 0, 0) 97.03%);
    content: '';
  }

  &__container {
    @include flex-center-between;

    flex-wrap: wrap;
    gap: rem(10);
    opacity: 0.999;
  }

  &__title {
    @include font48;

    max-width: rem(678);
    color: var(--palette-white);
  }

  &__button {
    min-width: rem(294);
  }
}