.activities {
  background: linear-gradient(180deg, #dae0ec 0%, #f7f8fa 100%);

  &__wrap {
    padding-top: rem(100);
    padding-bottom: rem(25);
    background-image: url('../assets/images/decorative-element/activities-home.svg');
    background-repeat: no-repeat;
    background-position: right bottom rem(-80);

    @include media('767', max) {
      padding-top: rem(40);
    }

    @include media('600', max) {
      background-image: none;
    }
  }

  &__header {
    @include flex-center-between;

    flex-wrap: wrap;
    gap: var(--gap20);
    margin-bottom: rem(138);

    @include media('900', max) {
      margin-bottom: rem(70);
    }

    @include media('600', max) {
      margin-bottom: rem(35);
    }

    &-text {
      @include font40;

      color: var(--palette-silver-chalice);

      > p {
        &:first-child {
          color: var(--palette-cod-gray);
        }
      }
    }

    &-benefits {
      display: flex;
      flex-wrap: wrap;
      gap: rem(20) rem(100);

      @include media('600', max) {
        gap: rem(20) rem(30);
      }
    }

    &-benefit {
      &-num,
      &-text {
        display: block;
      }

      &-num {
        @include font48;

        margin-bottom: rem(10);
        color: var(--palette-blue-marguerite);

        @include media('600', max) {
          font-size: rem(30);
        }
      }

      &-text {
        @include font16;

        @include media('600', max) {
          font-size: rem(14);
        }
      }
    }
  }

  &__title {
    @include font56;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(236)}, 1fr));
    gap: var(--gap20);
  }
}
