.maintenance {
  padding: rem(25) 0;
  color: var(--palette-white);

  + .callback {
    padding-top: rem(56);
  }

  &:has(+ .callback) {
    padding-bottom: 0;
  }

  &__wrapper {
    position: relative;
    padding: rem(73) 0;
    background-image: url('../assets/images/banner/02.png');
    background-image: image-set(
      url('../assets/images/banner/02.webp'),
      url('../assets/images/banner/02.png')
    );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include media('767', max) {
      padding: rem(36) 0;
    }

    &::before {
      position: absolute;
      inset: 0;
      background: linear-gradient(86deg, rgba(0, 0, 0, 0.9) 17.9%, rgba(0, 0, 0, 0) 97.03%);
      content: '';
    }

    &-button {
      @include flex-center;

      width: rem(60);
      height: rem(60);
      padding: rem(12);
      background-color: var(--palette-white);
      border-radius: 50%;
      color: var(--palette-cod-gray);

      @media #{$mouse-device} {
        &:hover {
          color: var(--palette-white);
          background-color: var(--palette-blue-marguerite);
        }
      }

      > svg {
        width: rem(10);
        height: rem(18);
        stroke: currentcolor;
        fill: transparent;
      }
    }
  }

  &__content {
    @include flex-center-y;

    flex-wrap: wrap;
    gap: rem(20) rem(40);
    opacity: 0.999;

    @include media('600', max) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }

  &__title {
    @include font48;

    width: 46%;
    padding-right: rem(10);
    border-right: rem(2) solid rgba(var(--palette-rgb-white), 0.5);

    @include media('767', max) {
      width: 100%;
      padding-right: 0;
      border-right: 0;
    }

    @include media('600', max) {
      margin-bottom: rem(28);
      padding-bottom: rem(28);
      border-bottom: rem(1) solid var(--palette-white);
    }
  }

  &__list {
    @include font24-light;

    width: 43%;
    list-style: disc;

    @include media('767', max) {
      width: 65%;
      padding-left: var(--container-padding);
    }

    @include media('600', max) {
      max-width: rem(300);
      width: 100%;
      margin-bottom: rem(28);
    }

    > * {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }
}
