.mobile-menu {
  $this: &;

  --size: calc(100vh - var(--header-size));

  &::part(base),
  &::part(overlay) {
    top: var(--header-size);
  }

  &::part(body) {
    padding: rem(24) 0;
  }

  &__container {
    @include flex-column;

    height: 100%;
  }

  &__links {
    @include flex-column;

    row-gap: rem(40);
    margin-bottom: rem(20);
  }

  &__link-wrap {
    @include flex-center-between;
  }

  &__link {
    @include font14;

    font-weight: 500;
  }

  &__toggle {
    display: flex;

    &.active {
      #{$this}__toggle-icon {
        transform: rotate(180deg);
      }
    }

    &-icon {
      width: rem(24);
      height: rem(24);
      fill: transparent;
      stroke: var(--palette-french-gray);
    }
  }

  &__submenu {
    @include flex-column;

    row-gap: rem(20);
    margin-top: rem(-13);
  }

  &__sublink {
    @include font-size(12, 14.4);

    font-weight: 300;
    letter-spacing: rem(-0.24);
  }

  &__wrap {
    @include flex-column;

    row-gap: rem(32);
    margin-top: auto;
  }

  &__work {
    @include flex-center-y;

    column-gap: rem(10);

    &-icon {
      width: rem(28);
      height: rem(24);
    }

    &-text {
      @include font-size(12, 13.2);

      max-width: rem(80);
      color: var(--palette-blue-marguerite);
      font-weight: 300;
      letter-spacing: rem(-0.24);
    }
  }

  &__phone {
    @include font14;

    font-weight: 500;
  }

  &__callback {
    padding: rem(13) rem(22);
    align-self: flex-start;
    text-transform: unset;
  }
}
