.page-top {
  $this: &;

  padding: rem(136) 0 rem(60);

  @include media('600', max) {
    padding: rem(136) 0 rem(30);
  }

  &--activities {
    #{$this}__title {
      max-width: rem(684);
    }
  }

  &--decorative {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: rem(433);
      height: rem(1184);
      background-image: url('../assets/images/decorative-element/catalog.svg');
      background-repeat: no-repeat;
      background-position: right top;
      content: '';

      @include media('600', max) {
        background-image: none;
      }
    }
  }

  + .text-block {
    padding-top: rem(20);
  }

  &__title {
    @include font56;
  }

  &__img-wrap {
    width: calc(100% + var(--container-padding) * 2);
    margin-left: calc(var(--container-padding) * -1);
  }

  &__img {
    margin-top: rem(60);

    @include media('600', max) {
      margin-top: rem(30);
    }
  }

  &__time {
    @include font14;

    display: block;
    margin-bottom: rem(12);
    color: var(--palette-french-gray);
  }
}
