.page-top {
  $this: &;

  padding: rem(136) 0 rem(60);

  &--activities {
    #{$this}__title {
      max-width: rem(684);
    }
  }

  &--decorative {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: rem(433);
      height: rem(1184);
      background-image: url('../assets/images/decorative-element/catalog.svg');
      background-repeat: no-repeat;
      background-position: right top;
      content: '';
    }
  }

  + .text-block {
    padding-top: rem(20);
  }

  &__title {
    @include font56;
  }

  &__img {
    width: 100%;
    height: rem(458);
    margin-top: rem(60);
    object-fit: cover;
  }
}
