.read-more {
  --card-width: #{rem(505)};

  max-width: calc(var(--card-width) * 2 + var(--gap20) + var(--container-padding) * 2);
  margin: 0 auto;

  &__title {
    @include font56;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    gap: var(--gap20);

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
    }
  }
}
