.callback {
  position: relative;
  padding: rem(30) 0;
  background-image: url('../assets/images/decorative-element/callback-form.png');
  background-image: image-set(
    url('../assets/images/decorative-element/callback-form.webp'),
    url('../assets/images/decorative-element/callback-form.png')
  );
  background-position: center top rem(100);
  background-repeat: no-repeat;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    content: '';

    @include media('600', max) {
      content: none;
    }
  }

  &::before {
    left: 0;
    width: rem(107);
    height: rem(844);
    background-image: url('../assets/images/decorative-element/callback-form-decorative-left.svg');
    content: '';
  }

  &::after {
    right: 0;
    width: rem(89);
    height: rem(843);
    background-image: url('../assets/images/decorative-element/callback-form-decorative-right.svg');
  }

  &--with-mb {
    margin-bottom: rem(100);

    @include media('767', max) {
      margin-bottom: rem(50);
    }
  }

  &__content {
    @include flex-center-column;

    padding: rem(87) rem(20) rem(79);
    border: rem(2) solid var(--palette-blue-marguerite);
    border-radius: var(--bdrs20);
    text-align: center;

    @include media('767', max) {
      padding: rem(40) rem(20);
    }
  }

  &__title {
    @include font56;

    max-width: rem(933);
    margin-bottom: rem(80);

    @include media('767', max) {
      margin-bottom: rem(40);
    }

    @include media('600', max) {
      @include font-size(26, 24);
    }
  }

  &__form-wrap {
    max-width: rem(325);
  }
}
