.callback {
  padding: rem(30) 0;
  background-image: url('../assets/images/decorative-element/callback-form.png');
  background-position: center center;
  background-repeat: no-repeat;

  &--with-mb {
    margin-bottom: rem(100);
  }

  &__content {
    @include flex-center-column;

    padding: rem(87) rem(20) rem(79);
    border: rem(2) solid var(--palette-blue-marguerite);
    border-radius: var(--bdrs20);
    text-align: center;
  }

  &__title {
    @include font56;

    max-width: rem(933);
    margin-bottom: rem(80);
  }

  &__form-wrap {
    max-width: rem(325);
  }
}
