.contacts {
  padding-bottom: rem(70);

  @include media('767', max) {
    padding-bottom: rem(50);
  }

  &__container {
    @include flex-between;

    gap: rem(20);

    @include media('1200', max) {
      flex-wrap: wrap;
    }
  }

  &__address {
    @include flex-column;
    @include font14;

    color: var(--palette-ship-gray);

    @include media('1200', max) {
      width: 40%;
    }

    @include media('600', max) {
      width: 100%;
    }
  }

  &__phone {
    @include font24;

    margin-bottom: rem(16);
  }

  &__text {
    margin-top: rem(27);
  }

  &__email {
    margin-bottom: rem(20);
  }

  &__map {
    width: rem(670);
    height: rem(336);
  }

  &__panel-links {
    @include media('1200', max) {
      width: 50%;
    }

    @include media('600', max) {
      width: 100%;
    }
  }

  &__email,
  &__insta {
    @include flex-center-y;

    column-gap: rem(6);
    font-weight: 500;
  }

  &__wrap {
    margin-top: rem(20);
  }
}
