.possible-solutions {
  position: relative;
  padding: rem(40) 0;
  margin-bottom: rem(100);
  background-color: var(--palette-white);

  @include media('767', max) {
    margin-bottom: rem(25);
  }

  &--without-mb {
    margin-bottom: 0;
  }

  &--with-decorative {
    &::before {
      position: absolute;
      top: rem(-450);
      right: 0;
      z-index: -1;
      width: rem(1440);
      height: rem(1544);
      background-image: url('../assets/images/decorative-element/possible-solutions-2.svg');
      background-repeat: no-repeat;
      content: '';

      @include media('600', max) {
        background-image: none;
      }
    }
  }

  &__title {
    @include font56;

    max-width: rem(814);
  }

  &__grid {
    display: flex;
    gap: var(--gap20);

    @include media('600', max) {
      flex-direction: column;
    }
  }

  &__item {
    &--start {
      width: 70%;

      @include media('600', max) {
        width: 100%;
      }
    }

    &--end {
      @include flex-column;

      row-gap: rem(20);
      width: 30%;

      @include media('600', max) {
        width: 100%;
      }
    }
  }

  &__card {
    height: 100%;
  }
}
