.service-card {
  display: grid;
  grid-template-columns: 1fr 40%;
  column-gap: rem(80);
  position: relative;
  background-color: var(--palette-white);
  border-radius: var(--bdrs20);
  transition: box-shadow var(--transition300ms);

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 rem(8) var(--palette-french-gray-a50);
    }
  }

  @include media('900', max) {
    column-gap: rem(40);
  }

  @include media('767', max) {
    grid-template-columns: 1fr;
  }

  &__content {
    @include flex-column;

    padding: rem(30) 0 rem(35) rem(147);
    align-items: flex-start;
    row-gap: rem(32);

    @include media('900', max) {
      row-gap: rem(16);
      padding: rem(20) rem(10) rem(20) rem(100);
    }
  }

  &__title {
    @include font36;

    &::before {
      @include font36;
      @include flex-center;

      position: absolute;
      top: rem(30);
      left: rem(30);
      min-width: rem(69);
      min-height: rem(54);
      flex-shrink: 0;
      border: rem(1) solid currentcolor;
      border-radius: var(--bdrs30);
      counter-increment: list;
      content: counter(list, decimal-leading-zero);

      @include media('900', max) {
        @include font24;

        top: rem(20);
        left: rem(20);
        min-width: rem(55);
        min-height: rem(40);
      }
    }
  }

  &__text {
    @include font16;

    > * {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
    border-top-right-radius: var(--bdrs20);
    border-bottom-right-radius: var(--bdrs20);

    @include media('767', max) {
      width: 100%;
      border-radius: var(--bdrs20);
    }
  }
}
