.about {
  &__wrap {
    display: flex;
    column-gap: rem(116);
    padding: rem(100) 0;
    margin-bottom: rem(50);
    border-bottom: rem(1) solid var(--palette-french-gray-a50);

    @include media('900', max) {
      column-gap: rem(50);
      padding: rem(50) 0;
      margin-bottom: rem(25);
    }

    @include media('600', max) {
      flex-direction: column;
      padding: rem(25) 0;
    }
  }

  &__text {
    width: 70%;
    padding: 0;
    margin: 0;

    @include media('767', max) {
      padding: 0;
    }

    @include media('600', max) {
      width: 100%;
    }
  }

  &__panel-links {
    @include media('600', max) {
      width: 100%;
      margin-bottom: rem(20);
    }
  }
}
