.about {
  &__wrap {
    display: flex;
    column-gap: rem(116);
    padding: rem(100) 0;
    margin-bottom: rem(50);
    border-bottom: rem(1) solid rgba(183, 181, 195, 0.5);
  }

  .text-block {
    padding: 0;
    margin: 0;
  }
}
