.hero-inner {
  position: relative;
  padding: rem(60) 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: var(--palette-white);

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(124deg, rgba(7, 19, 33, 0.2) 11.76%, rgba(0, 0, 0, 0) 48.42%),
      linear-gradient(0deg, rgba(0, 11, 28, 0.3) 0%, rgba(0, 11, 28, 0.3) 100%);
    content: '';
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: rem(20);
    opacity: 0.999;
  }

  &__content {
    grid-column: span 3;
  }

  &__title {
    @include font36;

    max-width: rem(698);
    margin-bottom: rem(142);
  }

  &__button {
    display: inline-flex;

    &--2 {
      padding: rem(20) rem(51);
    }
  }

  &__form {
    @include flex-column;

    grid-column: span 2;

    &-input {
      border-bottom: none;

      &:last-of-type {
        border-bottom: rem(1) solid var(--palette-blue-marguerite);
      }
    }

    &-button {
      margin-top: auto;
    }
  }
}
