.clients-slider-block {
  padding: rem(37) 0 rem(56);

  &__title {
    @include font56;
  }

  &__buttons {
    @include flex-center-y;

    column-gap: rem(8);
  }

  &__button {
    @include flex-center;

    width: rem(48);
    height: rem(32);
    color: var(--palette-ship-gray);
    border: rem(1) solid var(--palette-manatee);
    border-radius: var(--bdrs12);

    @media #{$mouse-device} {
      &:hover {
        color: var(--palette-white);
        background-color: var(--palette-abbey);
        border-color: transparent;
      }
    }
  }

  &__icon {
    width: rem(18);
    height: rem(16);
    stroke: currentcolor;
  }

  &__slide {
    height: auto;
  }

  &__card {
    @include flex-center;

    height: 100%;
    padding: rem(24) rem(16);
    background-color: var(--palette-white);
    border-radius: var(--bdrs20);
    border: rem(1) solid var(--palette-link-water);
  }

  &__img {
    width: rem(293);
    height: rem(102);
    object-fit: contain;
  }
}
