.equipment {
  @include center-fullhd;

  padding: rem(80) 0;
  color: var(--palette-ship-gray);
  background-image: url('../assets/images/decorative-element/equipment.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media('600', max) {
    padding: rem(40) 0;
  }

  &__title {
    @include font48;

    max-width: rem(743);
    margin: 0 auto rem(80);
    text-align: center;

    @include media('600', max) {
      margin: 0 auto rem(40);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(394)}, 1fr));
    gap: rem(36);

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
    }
  }

  &__section {
    &-title {
      @include font24;

      max-width: rem(352);
      margin-bottom: rem(20);
    }
  }

  &__links {
    display: grid;
    row-gap: rem(12);
  }

  &__link {
    @include flex-center-between;

    padding: rem(14) rem(16);
    border: rem(1) solid var(--palette-manatee);
    border-radius: var(--bdrs20);

    > svg {
      width: rem(25);
      height: rem(25);
      fill: transparent;
      stroke: currentColor;
    }

    @media #{$mouse-device} {
      &:hover {
        background-color: var(--palette-blue-marguerite);
        border-color: transparent;
        color: var(--palette-white);
      }
    }
  }
}